.App {
  text-align: center;
  background-color: #f0b7a4;
  height: 100vh;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0 !important;
}

.Left {
  text-align: left;
  font-weight: 100;
  line-height: 1.5em;
  font-size: 0.9em;
  padding: 4em !important;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.Right {
  padding: 6em !important;
}

.polygon {
  cursor: pointer;
  transition: 1s;
}

a {
  color: white !important;
} 

a:hover {
  color: #f1d1b5 !important;
}

.Social {
  margin-left: 0.5em;
}

.SecondPage {
  text-align: center;
  background-color: #f0b7a4;
  min-height: 100vh;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0 !important;
}

.VMC-Logo {
  width: 10em;
}

.Ios-app {
  width: 35%
}
.Android-app {
  width: 40%
}

.Bird {
  position: fixed;
  top: -2em;
  right: -2em;
  z-index: 5;
}

.Fadebar {
  position: fixed;
  width: 100%;
  height: 10%;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f0b7a4+0,ffffff+100&1+0,0+100 */
background: -moz-linear-gradient(top, rgba(240,183,164,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(240,183,164,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(240,183,164,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0b7a4', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
  z-index: 2;
}

.FadebarBottom {
  position: fixed;
  width: 100%;
  height: 10%;
  bottom: 0;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,f0b7a4+100&0+0,1+100 */
background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(240,183,164,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(240,183,164,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(240,183,164,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#f0b7a4',GradientType=0 ); /* IE6-9 */
  z-index: 2;
}

.HeaderTitle {
  margin-left: 6em;
  margin-top: 2em;
}