.App {
  text-align: center;
  background-color: #f0b7a4;
  min-height: 100vh;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0 !important;
}

.Left {
  text-align: left;
  font-weight: 100;
  line-height: 1.5em;
  font-size: 0.9em;
  padding: 4em !important;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.Right {
  justify-content: center;
  align-items: center;
  padding: 6em !important;
}

.polygon {
  cursor: pointer
}
